<nav class="navbar justify-content-end mb-3">
    <a class="nav-link mr-auto icon" href="#">B&D</a>
    <a class="nav-link btn-grad" href="/admin/nosotros">Volver</a>
</nav>
<div class="container" style="margin:100px auto">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Editar la novedad</h4>
            <form action="/admin/nosotros/editarNosotros" method="post" enctype="multipart/form-data">
            <input type="hidden" value="{{nosotros.id}}" name="id">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Titulo" value="{{nosotros.titulo}}" name="titulo">
                </div>
                <div class="form-group">
                    <textarea type="text" class="form-control" placeholder="Descripcion" name="descripcion">{{nosotros.descripcion}}</textarea>
                </div>
                <div class="form-group">
                    <p>
                        <label>Imagen: <input type="file" name="imagen"></label>
                    </p>
                    <p>
                        <label><input type="checkbox" name="img_delete" id="img_delete" value="1">Eliminar imagen actual?</label>
                        <input type="hidden" name="img_original" value="{{{nosotros.img_id}}}">
                    </p>
                </div>
                <button type="submit" class="btn btn-primary">Editar</button>
            </form>
        </div>
    </div>
    {{#if error}}
        <p>{{message}}</p>
    {{/if}}
</div>