<!DOCTYPE html>

<body>
    <!--Navegador-->
    <nav class="navbar justify-content-end mb-3">
        <a class="nav-link mr-auto icon" href="#">B&D</a>
        <a class="nav-link btn-grad" href="nosotros">Nosotros</a>
        <a class="nav-link btn-grad" href="servicios">Servicios</a>
        <a class="nav-link btn-grad" href="galeria">Menu</a>
        <a class="nav-link btn-grad" href="novedades">Novedades</a>
        <a class="nav-link btn-grad activo" href="testimonios">Testimonios</a>
    </nav>
    <br>
    <div class="container">
        <div class="row">
            <p class="text-end">Hola {{usuario}}!! <a class="btn btn-danger"
                href="/admin/login">Cerrar Sesion</a></p>
        </div>
        <br>
        <div class="row">
            <div class="col-7">
                <h4>Listado de testimonios</h4>
            </div>
            <div class="col-5 text-end">
                <a href="/admin/testimonios/agregarTestimonio" class="btn btn-success"><i class="fa fa-plus"></i>Nuevo</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Mensaje</th>
                            <th scope="col">Imagen</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each testimonios}}
                        <tr>
                            <th scope="row">{{id}}</th>
                            <td>{{mensaje}}</td>
                            <td>{{{imagen}}}</td>
                            <td scope="text-center">
                                <a class="btn btn-warning" title="Editar" href="/admin/testimonios/editarTestimonio/{{id}}">
                                    <i class="fa">Editar</i>
                                </a>
                                <a class="btn btn-danger" title="Eliminar" href="/admin/testimonios/eliminarTestimonio/{{id}}">
                                    <i class="fa">Eliminar</i>
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</body>

</html>